
textarea {
    height: 100px;
}
.navbar-toggler {
    border-color: #fff;
    
}

img {
    height: 400px;
}
.hero_image {
    height: 100vh;
      background: url('../images/background1.jpeg') no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      overflow: hidden;
      position: relative;
      opacity: 0.7;
  }

  .something {
    background-color: #7F8E80;
  }