{% extends "base.html" %}

{% block banner %}
<!--About banner-->
   <div class="about">
      <div class="row text-center">
        <h2>About Nadya</h2>
        <p>Welcome to Nadya's Yoga, where the journey to wellness begins with a mindful breath and a gentle stretch. <br>
           I'm Nadya, your guide on this path to self-discovery through the ancient practice of yoga.
        </p>     
      </div>    
   </div>
{% endblock %}

{% block content %}
   <div class="row text-center">
        <div class="col">
            <h3>My Journey</h3>
         <p>I discovered the transformative power of yoga during a time of personal exploration. Drawn to its holistic approach, I embraced yoga not just as a physical practice but as a journey of self-awareness. My yoga mat became my sanctuary, a space where I could connect with my breath, find balance, and nurture both my body and mind.
         </p>
         <h3>Passion for Yoga</h3>
         <p>While I may be a newcomer to teaching, my passion for yoga runs deep. I am eager to share the joy and tranquility that yoga has brought into my life. Every pose, every breath, is an opportunity for self-discovery, and I am excited to embark on this journey with you.</p>
        </div>  
        <div class="col"></div>
   </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <h3>Teaching Philosophy</h3>
         <p> 
My approach to teaching is rooted in creating a supportive and inclusive space. I believe that yoga is for everyone, regardless of age, flexibility, or experience. Together, we'll explore the foundations of yoga, celebrate progress over perfection, and build a community that embraces each individual's unique journey.

         </p>
         <h3>Ongoing Learning</h3>
         <p>
            As I embark on this teaching journey, I am committed to continuous learning and growth. I am currently expanding my knowledge through workshops, training programs, and, most importantly, from the shared experiences of the wonderful individuals who join me on the mat.

Namaste,
Nadya
         </p>
    
        </div>

    </div>  
            
         
         
    
  
 
{% endblock %}
