{% extends "base.html" %}

{% block banner %}
<!--About banner-->
   <div class="about">
      <div class="row text-center">
            <h2 class="heading-large center-align my-5">
              <span>About Nadya</span>
            </h2>                    
      </div>      
   </div>
{% endblock %}

{% block content %}
   <div class="row text-center about">
        <div class="col about-journey">
            <h3 class="my-5">
               <span>Teaching Philosophy</span>
             </h3>
            <p> 
                My approach to teaching is rooted in creating a supportive and inclusive space. <br>
                I believe that yoga is for everyone, regardless of age, flexibility, or experience. <br>
                Together, we'll explore the foundations of yoga, celebrate progress over perfection, <br>
                and build a community that embraces each individual's unique journey. <br>
            </p>
        </div>            
   </div>

   <div class="row text-center about">
    <div class="col about-journey">
      <h3 class="my-5">
        <span>Passion for Yoga</span>
     </h3>
     <p>
         While I may be a newcomer to teaching, my passion for yoga runs deep.<br>
         I am eager to share the joy and tranquility that yoga has brought into my life.<br>
         Every pose, every breath, is an opportunity for self-discovery, and I am excited to embark on this journey with you.<br>
     </p>   

    </div>            
</div>  
 
{% endblock %}
