{% extends "base.html" %}

{% block banner %}
<!--About banner-->
   <div class="about">
      <div class="row text-center">
            <h2 class="heading-large center-align my-5">
              <span>Contact Us</span>
            </h2>                      
      </div>    
   </div>
{% endblock %}

{% block content %}

<div class="row text-center">
  <div class="col text-center about"> 
     <h3 class="heading-large center-align my-5">
        <span>Location</span>
     </h3>  
     <p>
        I discovered the transformative power of yoga during a time <br>
        of personal exploration.Drawn to its holistic approach, <br>
        I embraced yoga not just as a physical practice but as a journey of self-awareness.<br>
        My yoga mat became my sanctuary, a space where I could connect with my breath, <br>
        find balance, and nurture both my body and mind.<br>
     </p>    
  </div>   
</div>

<div class="row">    
    <form class="col-12 col-md-6 offset-md-3 my-5" method="POST" action="{{ url_for('register') }}"> 
        <!--First Name-->    
      <div class="mb-3">
        <label for="firstname" class="form-label">First Name</label>
        <input id="firstname" name= "firstname" type="text" class="form-control" required>        
      </div>
        <!--Last Name-->
      <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input id= "lastname" name="lastname" type="text" class="form-control" required>
      </div>
         <!--email-->
         <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input id="email" name="email "type="email" class="form-control"  required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
         <!--Message-->
         <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea id= "message" name="message" type="text" class="form-control" required></textarea>
          </div>
      <!--register-->
      <button type="submit" class="contact-btn btn">Send</button>
    </form>
  </div>

  
{% endblock %}
