{% extends "base.html" %}

{% block banner %}
<!--Hero Image-->
   <div class="container-fluid container-large banner">
      <div class="row">
         <div class="col welcome-heading text-center">
            <h1 class="heading-large center-align my-5">
               <span>Nadya Yoga</span> <br>
            </h1>
            <h3 class="my-5">
               Step onto the mat and into a world of tranquility and self-discovery.
            </h3>                     
         </div>
      </div>
   </div>
   
{% endblock %}

{% block content %}
<!--About Nadya-->
<div class="container-fluid row">
   <div class="col text-center about"> 
      <h3 class="heading-large center-align my-5">
         <span>About Nadya</span>
      </h3>  
      <p>
         I discovered the transformative power of yoga during a time <br>
         of personal exploration.Drawn to its holistic approach, <br>
         I embraced yoga not just as a physical practice but as a journey of self-awareness.<br>
         My yoga mat became my sanctuary, a space where I could connect with my breath, <br>
         find balance, and nurture both my body and mind.<br>
      </p>    
   </div>
</div>

<!--Yoga Classes-->
<div class="container-fluid text-center">
   <div class="row">
      <div class="col-12 col-lg-6 text-center about-wrapper"> 
         <h3 class="center-align my-5"><span>Classes</span></h3>          
         <p class="my-5"> 
            My approach to teaching is rooted in creating a supportive and inclusive space. <br>
            I believe that yoga is for everyone, regardless of age, flexibility, or experience. <br>
            Together, we'll explore the foundations of yoga, celebrate progress over perfection, <br>
            and build a community that embraces each individual's unique journey. <br>
         </p>
         <div class="row ">
            <div class="col">
               <h6>Vinyasa Yoga</h6>
               <small class="text-body-secondary">
                  Experience the fluidity of movement and breath with Vinyasa yoga,
                  a dynamic practice that synchronizes breath with continuous flowing 
                  sequences of poses.
               </small>
            </div>
            <div class="col">
               <h6>Pre-Natal Yoga</h6>
               <small class="text-body-secondary">
                  Nurture your body and prepare for the miracle of birth with prenatal yoga 
                  led by Nadya. Our prenatal yoga classes offer gentle and supportive practices 
                  tailored specifically for expectant mothers.
               </small>
            </div>
            <div class="col">
               <h6>Power Yoga</h6>
               <small class="text-body-secondary">
                  Ignite your inner fire and unleash your full potential with Power Yoga, 
                  a dynamic and vigorous practice that builds strength, stamina, and mental 
                  resilience. 
               </small>
            </div>
         </div>
      </div>
      <div class="col-12 col-lg-6 vinyasa-yoga"></div>         
   </div>   
</div>

<div class="my-5 text-center">
   <h3 class="text-center">
      <a href="{{ url_for('contact') }}" class="join-me-button btn btn-lg rounded-0 py-3">
         <span>Join Me</span>
      </a>            
   </h3>             
</div> 


{% endblock %}